---
import MainLayout from "../layouts/MainLayout.astro"
import ShoppingCartIcon from "../components/ShoppingCartIcon.astro"
import Section1 from "../components/Section1.astro"
import Socials from "../components/Socials.astro"
---

<MainLayout title="La Velada del Año">
  <script slot="script" src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
  <header
    class="left-0 right-0 top-0 z-[60] flex min-h-[7rem] flex-col items-center justify-center gap-5 bg-white p-10 md:fixed md:flex-row md:justify-between md:py-7"
  >
    <a href="https://www.linkedin.com/in/ferran-ramirez/">
      <img
        class="h-11 object-contain"
        src="webp/Velada3Text.webp"
        alt="logo con texto de la velada 3"
        fetchpriority="high"
      />
    </a>
    <a
      href="https://github.com/ferranJS/astro-tailwind-landing-1"
      class="flex items-center gap-2 rounded-sm bg-black p-1 px-4 text-xl font-bold uppercase italic text-white duration-150 hover:opacity-80"
    >
      Tienda <ShoppingCartIcon height="20" />
    </a>
  </header>
  <main>
    <Section1 />
  </main>
  <footer></footer>
  <Socials />
  <script>
    // driver.js
    const driver = window.driver.js.driver

    const driverObj = driver({
      showProgress: true,
      steps: [
        { element: "#title", popover: { title: "The main title", description: "nice transition uwu" } },
        { element: "#socials", popover: { title: "My socials", description: "so cooool" } },
        { element: "#button", popover: { title: "A button", description: "hmmm just a button lol" } },
      ],
    })

    setTimeout(driverObj.drive, 1000)
  </script>
</MainLayout>
