<section
  class="relative flex h-[35vh] w-screen overflow-hidden bg-cover bg-center bg-no-repeat md:mt-28 md:h-[calc(100vh-112px)] [&>div>img]:absolute [&>div>img]:bottom-0 [&>div>img]:duration-300"
  style="background-image: url('background.webp')"
>
  <div class="relative w-full">
    <img
      class="slide-right anim-delay-5 left-[50%] z-10 h-[65%]"
      src="papigavi.webp"
      alt="Papigavi"
      id="Papigavi"
    />
    <img
      class="slide-right anim-delay-4 left-[46%] z-20 h-[70%]"
      src="la-rivers.webp"
      alt="La Rivers"
      id="La-Rivers"
    />
    <img
      class="slide-right anim-delay-3 left-[34%] z-30 h-[71%]"
      src="fernanfloo.webp"
      alt="Fernanfloo"
      id="Fernanfloo"
    />
    <img class="slide-right anim-delay-2 left-[15%] z-40 h-[76%]" src="viruzz.webp" alt="Viruzz" id="Viruzz" />
    <img
      class="slide-right anim-delay-1 left-[6%] z-50 h-[79%]"
      src="mayichi.webp"
      alt="Mayichi"
      id="Mayichi"
    />
    <img class="slide-right left-0 z-50 h-[103%]" src="coscu.webp" alt="Coscu" id="Coscu" />
  </div>
  <div class="relative w-full">
    <img
      class="slide-left anim-delay-5 right-[50%] z-10 h-[65%]"
      src="ampeter.webp"
      alt="Ampeter"
      id="Ampeter"
    />
    <img class="slide-left anim-delay-4 right-[45%] z-20 h-[69%]" src="rivers.webp" alt="Rivers" id="Rivers" />
    <img class="slide-left anim-delay-3 right-[33%] z-30 h-[72%]" src="luzu.webp" alt="Luzu" id="Luzu" />
    <img class="slide-left anim-delay-2 right-[18%] z-40 h-[78%]" src="shelao.webp" alt="Shelao" id="Shelao" />
    <img
      class="slide-left anim-delay-1 right-[8%] z-50 h-[80%]"
      src="amouranth.webp"
      alt="Amouranth"
      id="Amouranth"
    />
    <img class="slide-left right-0 z-50 h-[100%]" src="german.webp" alt="German" id="German" />
  </div>
  <img
    class="absolute left-1/2 top-[2%] z-[5] h-[42%] -translate-x-1/2 md:top-[7%] md:h-[30%]"
    src="logo.webp"
    alt="la velada del año logo"
    fetchpriority="high"
  />
</section>

<script>
  const rightSideImgs = document.querySelectorAll("section div:nth-child(1) img")
  const leftSideImgs = document.querySelectorAll("section div:nth-child(2) img")
  const initHoverEffect = () =>
    rightSideImgs.forEach((_, i) => {
      function focusPerson() {
        rightSideImgs[i]!.classList.add("!scale-110")
        leftSideImgs[i]!.classList.add("!scale-110")
        rightSideImgs[i]!.classList.add("z-[55]")
        leftSideImgs[i]!.classList.add("z-[55]")
        function blurPerson(img, j) {
          if (i !== j) {
            img.classList.add("saturate-0")
            img.classList.add("blur-[2px]")
          }
        }
        rightSideImgs.forEach((img, j) => blurPerson(img, j))
        leftSideImgs.forEach((img, j) => blurPerson(img, j))
      }
      function unfocusPerson() {
        rightSideImgs[i]!.classList.remove("!scale-110")
        leftSideImgs[i]!.classList.remove("!scale-110")
        rightSideImgs[i]!.classList.remove("z-[55]")
        leftSideImgs[i]!.classList.remove("z-[55]")
        function unblurPerson(img, j) {
          if (i !== j) {
            img.classList.remove("saturate-0")
            img.classList.remove("blur-[2px]")
          }
        }
        rightSideImgs.forEach((img, j) => unblurPerson(img, j))
        leftSideImgs.forEach((img, j) => unblurPerson(img, j))
      }
      leftSideImgs[i].addEventListener("mouseenter", focusPerson)
      rightSideImgs[i].addEventListener("mouseenter", focusPerson)
      leftSideImgs[i].addEventListener("mouseleave", unfocusPerson)
      rightSideImgs[i].addEventListener("mouseleave", unfocusPerson)
    })
  setTimeout(initHoverEffect, 2200)
</script>

<style>
  #Papigavi {
    clip-path: polygon(
      81.31% 35.37%,
      76.86% 1.45%,
      43.55% 0%,
      0% 32.61%,
      0% 56.24%,
      26.71% 100%,
      92.62% 100%,
      100% 65.18%
    );
  }
  #La-Rivers {
    clip-path: polygon(
      26.5% 100%,
      100% 100%,
      88.89% 7.63%,
      27.16% 0%,
      0% 13.6%,
      0% 34.59%,
      27.16% 64.7%,
      11.4% 85.01%
    );
  }
  #Fernanfloo {
    clip-path: polygon(
      100% 93.74%,
      75.67% 71.95%,
      72.66% 14.44%,
      61.12% 0%,
      21.12% 0%,
      0% 45.76%,
      0% 100%,
      100% 100%
    );
  }
  #Viruzz {
    clip-path: polygon(
      80.86% 34.44%,
      87.01% 1.14%,
      30.09% 0%,
      14.4% 34.44%,
      0% 100%,
      76.08% 100%,
      100% 97.88%,
      100% 92.93%
    );
  }
  #Mayichi {
    clip-path: polygon(
      85.83% 71.34%,
      88.29% 43.23%,
      73.79% 1.32%,
      24.62% 0.65%,
      4.72% 54.34%,
      21.71% 100%,
      100% 100%,
      100% 90.29%
    );
  }
  #Coscu {
    clip-path: polygon(91.17% 100%, 68.8% 52.71%, 96.93% 31.55%, 100% 9.49%, 0% 0%, 0% 100%);
  }
  #Ampeter {
    clip-path: polygon(
      87.18% 99.89%,
      99.76% 62.09%,
      99.76% 43.82%,
      67.74% 0%,
      22.95% 0%,
      22.95% 40.88%,
      0% 80.46%,
      11.25% 99.89%
    );
  }
  #Rivers {
    clip-path: polygon(
      81.01% 24.54%,
      74.99% 1.45%,
      23.5% 1.45%,
      0% 79.03%,
      27.24% 100%,
      88.19% 100%,
      100% 73.49%,
      100% 32.16%
    );
  }
  #Luzu {
    clip-path: polygon(
      100% 100%,
      100% 40.87%,
      87.41% 2.01%,
      33.08% 0%,
      19.87% 13.6%,
      25.08% 26.08%,
      0% 88.73%,
      0% 100%
    );
  }
  #Shelao {
    clip-path: polygon(
      74.4% 25.41%,
      66.34% 3.59%,
      22.7% 2.85%,
      0% 83.11%,
      1.65% 100%,
      87.01% 100%,
      100% 53.98%,
      100% 35.37%
    );
  }
  #Amouranth {
    clip-path: polygon(
      80.04% 100%,
      100% 64.24%,
      100% 30.85%,
      77.95% 0%,
      40.99% 0%,
      23.12% 35.56%,
      25.95% 58.55%,
      0% 100%
    );
  }
  #German {
    clip-path: polygon(
      100% 100%,
      100% 72.57%,
      100% 0%,
      43.68% 0%,
      0% 13.69%,
      25.9% 51.57%,
      13.14% 54.8%,
      0% 100%
    );
  }

  .slide-right {
    animation: slide-right 1s ease-out both;
  }
  .slide-left {
    animation: slide-left 1s ease-out both;
  }
  @keyframes slide-right {
    0% {
      translate: -20px;
      opacity: 0;
    }
    100% {
      translate: 0;
      opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      translate: 20px;
      opacity: 0;
    }
    100% {
      translate: 0;
      opacity: 1;
    }
  }
  .anim-delay-1 {
    animation-delay: 0.5s;
  }
  .anim-delay-2 {
    animation-delay: 1s;
  }
  .anim-delay-3 {
    animation-delay: 1.5s;
  }
  .anim-delay-4 {
    animation-delay: 2s;
  }
  .anim-delay-5 {
    animation-delay: 2.5s;
  }
</style>
