---
const { title } = Astro.props
const baseURL = import.meta.env.BASE_URL
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={baseURL + "favicon.ico"} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Revamped and interactive fighting match website featuring immersive animations upon hover. A modernized take on the original concept, enhancing user engagement and interactivity. Built with Astro and Tailwind by Ferran Ramírez Martí. FerranJS"
    />
    <slot name="head-tags" />
    <title>{title}</title>
    <slot name="script" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css" />
  </head>
  <body class="overflow-x-hidden bg-white">
    <slot />
  </body>
</html>
