---
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="This reimagined landing page clone was made in a few days by Ferran Ramírez 
      (ferranJS) for fun, using Tailwind as an improvement for faster CSS coding and Astro for good performance and comfortable web development"
    />
    <slot name="head-tags" />
    <title>{title}</title>
    <slot name="script" />
    <!-- ⬅ Solution -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css" />
  </head>
  <body class="overflow-x-hidden bg-white">
    <slot />
  </body>
</html>
